<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="" style="text-align: center">
        <div class="">
            <div class="">
                <h1>QR Code Image</h1>
            </div>
        </div>
        <div class="">
            <img alt="qrcode" th:src="@{'/qrimage2'}" style="margin: 0px;"/>
            <footer>
                <p>
                    © <a >ThinkingInGIS</a> 2020
                </p>
            </footer>
        </div>
    </div>

</body>
</html>